<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="locateMe()">
        <ion-icon slot="icon-only" name="locate"></ion-icon>
      </ion-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      I Found You
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)=configure() color="secondary">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="map_canvas"></div>
</ion-content>
